.underHost {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  
}

.forInside {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.upperReserveButton{
    display: flex;
       
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
}
.mainDiv{
    margin-left: 100px;
    margin-right: 300px;
}
.forReserve{
    margin: 10px;
    text-align: center;
    width: 200px;
}
.forButton{
    width: 180px;
    background-color: red;
    border-radius: 2px;
    color: aliceblue;
    margin: 5px;
}