.spotClass {
    width: 280px;
    height: 280px;
}

.forImage {
    width: 250px;
    height: 260px;
}

.forfirst {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.forInside {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.forNewDiv {
    height: 400px;
    width: 400px;
}

.forNav {
    max-width: 100%;
    max-height: 100%;
}