.hidden{
    display: none;
}
.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    height: 10vh;
    
}
.profile{
    display: flex;
    align-items: center;
    padding-top: 33%;
}